!!!
%html
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %link{href: "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css", rel: "stylesheet"}
    %script{src: "http://code.jquery.com/jquery.js"}
    %script{src: "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"}
    %title Метод аналізу ієрархій
    :css
      .icon-chevron-right {
        float: right;
        margin-top: 2px;
        margin-right: -6px;
        opacity: .25;
      }
      ul.nav li > a {
        display: block;
        margin: 0 0 -1px;
        padding: 3px 10px;
        border: 1px solid #e5e5e5;
      }
  %body
    .container
      .row
        .span12
          %h1 Метод аналізу ієрархій
          .row-fluid
            .span3
              %ul.nav.nav-list.bs-docs-sidenav
                %li
                  %a{ href: '/old'} 
                    %i.icon-chevron-right 
                    Програмна реалізація МАІ 1.0
                %li
                  %a{ href: "#1" }
                    %i.icon-chevron-right 
                    1. Теоретичні відомості
                %li
                  %a{ href: "#2" }
                    %i.icon-chevron-right 
                    2. Методика застосування МАІ
                %li
                  %a{ href: "#21" }
                    %i.icon-chevron-right 
                    2.1. Моделювання проблеми у вигляді ієрархії
                %li
                  %a{ href: "#22" }
                    %i.icon-chevron-right 
                    2.2. Визначення ієрархічної структури
                %li
                  %a{ href: "#23" }
                    %i.icon-chevron-right 
                    2.3. Пояснення ієрархічних структур, що використовуються в МАІ
                %li
                  %a{ href: "#24" }
                    %i.icon-chevron-right 
                    2.4. Розстановка пріоритетів
                %li
                  %a{ href: "#25" }
                    %i.icon-chevron-right 
                    2.5. Визначення пріоритетів і пояснення
                %li
                  %a{ href: "#3" }
                    %i.icon-chevron-right 
                    3. Практичне застосування МАІ
                %li
                  %a{ href: "#4" }
                    %i.icon-chevron-right 
                    4. Приклад використання МАІ при виборі автомобіля
                %li
                  %a{ href: "#41" }
                    %i.icon-chevron-right 
                    4.1. Постановка задачі та опис алгоритму
                %li
                  %a{ href: "#42" }
                    %i.icon-chevron-right 
                    4.2. Проведення МАІ з використанням ПЗ
                %li
                  %a{ href: "#5" }
                    %i.icon-chevron-right 
                    Висновки
            .span9
              %h3#1 1. Теоретичні відомості
              %p Метод аналізу ієрархій (МАІ) - математичний інструмент системного підходу до складних проблем прийняття рішень. МАІ допомагає особі, яка приймає рішення (ОПР), в інтерактивному режимі, знайти такий варіант (альтернативу), який найкращим чином узгоджується з його розумінням суті проблеми та вимогами до її вирішення. Цей метод розроблений Р. Беллманом, Б.М. Бруком і В. Н. Бурковим, але отримав широку популярність по роботах Т. Сааті, який і назвав процедуру методом аналізу ієрархій. Публікації Сааті більш повно розкрили можливості процедури, і з тих пір МАІ активно розвивається і широко використовується на практиці. В його основі в один ряд з математикою закладені й психологічні аспекти. МАІ дозволяє зрозумілим і раціональним чином структурувати складну проблему прийняття рішень у вигляді ієрархії, порівняти і виконати кількісну оцінку альтернативних варіантів рішення. 
              %p Метод аналізу ієрархій використовується у всьому світі для прийняття рішень у різноманітних ситуаціях: від управління на міждержавному рівні до рішення галузевих і приватних проблем у бізнесі, промисловості, охороні здоров'я та освіті. Для комп'ютерної підтримки МАІ існують програмні продукти, розроблені різними компаніями. Аналіз проблеми прийняття рішень в МАІ починається з побудови ієрархічної структури, яка включає мету, критерії, альтернативи і а також інші фактори, що впливають на вибір. Ця структура відображає розуміння проблеми особою, яка приймає рішення. Кожен елемент ієрархії може представляти різні аспекти розв'язуваної задачі, причому до уваги можуть бути прийняті як матеріальні, так і нематеріальні чинники, вимірювані кількісні параметри та якісні характеристики, об'єктивні дані і суб'єктивні експертні оцінки. Іншими словами, аналіз ситуації вибору рішення в МАІ нагадує процедури і методи аргументації, які використовуються на інтуїтивному рівні.
              %p Наступним етапом аналізу є визначення пріоритетів, які представляють відносну важливість або перевагу елементів побудованої ієрархічної структури, за допомогою процедури парних порівнянь. На заключному етапі аналізу виконується синтез (лінійна згортка) пріоритетів на ієрархії, в результаті якої обчислюються пріоритети альтернативних рішень щодо головної мети. Кращою вважається альтернатива з максимальним значенням пріоритету.
              %p Хоча для практичного застосування МАІ відсутня необхідність спеціальної підготовки, основи методу викладають у багатьох навчальних закладах. Крім того, цей метод широко застосовується у сфері управління якістю і читається в рамках багатьох спеціалізованих програм, таких як Six Sigma, Lean Six Sigma, і QFD. Близько ста китайських університетів пропонують курси з основ МАІ, і багато здобувачів наукових ступенів вибирають МАІ, як об'єкт наукових і дисертаційних досліджень. Опубліковано більше 900 наукових статей з даної тематики. Існує китайський науковий журнал, що спеціалізується в області МАІ. Раз на два роки проводиться Міжнародний симпозіум, присвячений МАІ (International Symposium on Analytic Hierarchy Process, ISAHP), на якому зустрічаються як учені, так і практики, що працюють з МАІ. У 2007 році симпозіум проходив у Вальпараїсо, Чилі, де було представлено понад 90 доповідей вчених з 19 країн, включаючи США, Німеччину, Японію, Чилі, Малайзію, і Непал.
              %p При затвердженні управлінських рішень та прогнозуванні ймовірних підсумків особа, яка приймає рішення, як правило, стикається зі складною організацією взаємозалежних елементів, яку потрібно розібрати. На сьогоднішній день є маса технологій, що дозволяють максимально полегшити існування і допомогти у вирішенні проблем, згуртованих з процесами прийняття рішень. Сьогодні даний метод використовують повсюдно: від ріелтерів, при оцінці нерухомості, до кадровиків, при заміщенні вакантних посад. 
              %p Метод аналізу ієрархій Т. Сааті проводиться за такою схемою:
              %ul
                %li структурування проблеми вибору у вигляді ієрархії або мережі;
                %li встановлення пріоритетів критеріїв і оцінка кожної з альтернатив за критеріями;
                %li обчислюються коефіцієнти важливості для елементів кожного рівня. При цьому перевіряється узгодженість думок;
                %li підраховується комбінований ваговий коефіцієнт і визначається найкраща альтернатива.
              %p Ключовим завданням у методі аналізу ієрархій Т. Сааті є оцінка вищих рівнів виходячи з взаємодії різних рівнів ієрархії, а не з прямої залежності від елементів на цих рівнях. Точні технології побудови систем у вигляді ієрархій потроху з'являються в природних і суспільних науках, і особливо в задачах загальної теорії систем, об'єднаних з плануванням і побудовою соціальних систем. Концептуально, найбільш примітивна ієрархія - лінійна, що виходить із одного рівня елементів до наступного.
              %p Наприклад, в процесі виробництва є рівень робітників, що підпорядковуються рівню майстрів, який у свою чергу підпорядковується рівню керуючих і т. д., до віце-президентів і президента. У нелінійної ієрархії верхній рівень може бути як підпорядкованим, так і керуючим. У математичній теорії ієрархій розробляється технологія оцінки впливу рівня на сусідній рівень за допомогою композиції належного вкладу компонентів нижнього рівня по відношенню до компоненту верхнього рівня. Ця система може розповсюджуватися вгору по ієрархії.
              %p У найбільш примітивному вигляді ієрархія грунтується з вершини, через проміжні критерії до найнижнього рівня - комплекту альтернатив.
              %p Після ієрархічного відображення питання засновуються пріоритети критерій і оцінюється кожна з альтернатив за заданими параметрами.
              %p Кожен предмет можна оцінювати за багатьма показниками якості.
              %p Експерт може зіставити два предмети і дати їм оцінки, наприклад, упорядкувати кілька предметів за привабливістю. Відповіді експерта зазвичай виміряні за порядковою шкалою, є ранжировками, підсумками парних порівнянь.
              %p Метод аналізу ієрархій Т. Сааті передбачає наступні етапи:
              %ul
                %li знаходження проблеми.
                %li побудова ієрархії - розкладання проблеми на елементарні складові: від проблеми через проміжні складові до найнижнього рівня - переліку простих альтернатив.
                %li оцінка важливості альтернатив за допомогою методу парних порівнянь.
                %li оцінка локальних пріоритетів порівнюваних елементів.
                %li випробування узгодженості локальних пріоритетів.
                %li ієрархічний синтез вирішення проблеми.
              %p Для того, щоб формалізувати оцінки експертів, у методі аналізу ієрархії вводиться спеціальна шкала оцінок - шкала відносної важливості. Згідно з цією шкалою, для розрахунку показників важливості на першому етапі проводиться постановка і формалізація завдання. Для цього на основі розгляду наявної системи моніторингу процесів, вимог нормативної документації і міркувань експертів, складається безліч показників і точок їх перевірки.
              %p Наступною дією першого етапу є знаходження набору критерій і технологій їх оцінювання. Ранжування є розташування критеріїв у порядку зростання ступеня їх важливості.
              %p Наприклад, підходу, який найгіршим чином відповідає обраному критерію, присвоюється ранг 1, наступного - ранг 2, найкращому - ранг 3. Якщо, на думку оцінювача, ранги двох або трьох елементів порівняння рівні, то вони осредняемого. Наприклад, найгіршим підходу присвоюється ранг 1, двом іншим - ранги: (2 + 3) / 2 = 2,5.
              %p В якості кількісної характеристики може бути обрано стандартне відхилення. В даному випадку авторитет підходу обумовлюється, по аналогії з неравноточнимі вимірами, величиною обернено пропорційною значущості квадрата стандартного відхилення.
              %p Для проведення суб'єктивних парних порівнянь Т. Сааті була розроблена шкала відносної важливості.
              %p Метод аналізу ієрархій - дієвий, елементарний і доступний метод. Він вживався при вирішенні багатьох завдань, серед яких:
              %ul
                %li професійний відбір,
                %li планування ефективного навчання,
                %li розподіл кадрів,
                %li атестація фахівців
                %li просування персоналу по службі.
              %h3#2 2. Методика застосування МАІ
              %p Метод аналізу ієрархій містить процедуру синтезу пріоритетів, обчислюваних на основі суб'єктивних суджень експертів. Число суджень може вимірюватися дюжинами або навіть сотнями. Математичні обчислення для задач невеликої розмірності можна виконати вручну або за допомогою калькулято-ра, однак набагато зручніше використовувати програмне забезпечення (ПО) для введення й обробки суджень. Найпростіший спосіб комп'ютерної підтримки - електронні таблиці, найрозвиненіша ПО передбачає застосування спеціальних пристроїв для введення суджень учасниками процесу колективного вибору.Порядок застосування методу аналізу ієрархій:
              %ul
                %li Побудова якісної моделі проблеми у вигляді ієрархії, що включає мету, альтернативні варіанти досягнення цілі і критерії для оцінки якості альтернатив.
                %li Визначення пріоритетів всіх елементів ієрархії з використанням методу парних порівнянь.
                %li Синтез глобальних пріоритетів альтернатив шляхом лінійної згортки пріоритетів елементів на ієрархії.
                %li Перевірка суджень на узгодженість.
                %li Прийняття рішення на основі отриманих результатів.
              %p Розглянемо ці кроки докладніше.
              
              %h4#21 2.1. Моделювання проблеми у вигляді ієрархії
              %p Перший крок МАІ - побудова ієрархічної структури, що об'єднує мета вибору, критерії, альтернативи і інші фактори, що впливають на вибір рішення. Побудова такої структури допомагає проаналізувати всі аспекти проблеми і глибше вникнути в суть завдання.
              %h4#22 2.2. Визначення ієрархічної структури
              %p Ієрархічна структура - це графічне представлення проблеми у вигляді перевернутого дерева, де кожен елемент, за винятком самого верхнього, залежить від одного або більше вище розташованих елементів. Часто в різних організаціях розподіл повноважень, керівництво та ефективні комунікації між співробітниками організовані в ієрархічній формі.
              %p Ієрархічні структури використовуються для кращого розуміння складної реальності: ми розкладаємо досліджувану проблему на складові частини, потім розбиваємо на складові частини вийшли елементи і т.д. На кожному кроці важливо фокусувати увагу на розумінні поточного елемента, тимчасово абстрагуючись від всіх інших компонентів. При проведенні такого аналізу приходить розуміння всієї складності і багатогранності досліджуваного предмета.
              %p Як приклад можна привести ієрархічну структуру, яка використовується при навчанні в медичних вузах. У рамках вивчення анатомії окремо розглядається кістково-м'язова система (яка включає такі елементи, як руки та їх складові: м'язи й кістки), серцево-судинна система (і її множинні рівні), нервова система (і її компоненти і підсистеми) і т.д. Ступінь деталізації доходить до клітинного і молекулярного рівня. В кінці вивчення приходить розуміння системи організму в цілому, а також усвідомлення того, яку роль відіграє в ньому займає кожна частина За допомогою подібного ієрархічного структурування студенти набувають всебічні знання про анатомію.
              %p Аналогічним чином, коли ми вирішуємо складну проблему, ми можемо використовувати ієрархію як інструмент для обробки і сприйняття великих обсягів інформації. У міру проектування цієї структури у нас формується все більш повне розуміння проблеми.
              %p Найпростіша ієрархія МАІ. Щоб уникнути безладу в діаграмах МАІ, зв’язки що з'єднують Альтернативи та їх покриваючі Критерії, часто опускаються, або їх кількість штучно зменшується. Незважаючи на такі спрощення в діаграмі, у самій ієрархії кожна Альтернатива пов'язана з кожним із покриваючих її Критеріїв.
              %h4#23 2.3. Пояснення ієрархічних структур, що використовуються в МАІ
              %p Ієрархічні структури, використовувані в МАІ, являє собою інструмент для якісного моделювання складних проблем. Вершиною ієрархії є головна мета; елементи нижнього рівня представляють безліч варіантів досягнення мети (альтернатив); елементи проміжних рівнів відповідають критеріям або факторів, які пов'язують ціль з альтернативами. Існують спеціальні терміни для опису ієрархічної структури МАІ. Кожен рівень складається з вузлів. Елементи, які виходять з вузла, прийнято називати його дітьми (дочірніми елементами). Елементи, з яких виходить вузол, називаються батьківськими. Групи елементів, що мають один і той же батьківський елемент, називаються групами порівнян-ня. Батьківські елементи Альтернатив, як правило, виходять із різних груп порівняння, називаються покривають Критеріями. Використовуючи ці терміни для опису представленої нижче діаграми, можна сказати, що чотири Критерію - це діти Цілі; в свою чергу, Мета - це батьківський елемент для будь-якого з Критеріїв. Кожна Альтернатива - це дочірній елемент кожного з включають її Критеріїв. Всього на діаграмі присутні дві групи порівняння: група, що складається з чотирьох Критеріїв та група, що включає три Альтернативи. Вид будь ієрархії МАІ буде залежати не тільки від об'єктивного характеру розглянутої проблеми, а й від знань, суджень, системи цінностей, думок, бажань і т.п. учасників процесу. Опубліковані опису застосувань МАІ часто включають в себе різні схеми і пояснення представлених ієрархій. Послідовне виконання всіх кроків МАІ передбачає можливість зміни структури ієрархії, з метою включення до неї знов з'явилися, або раніше не вважалися важливими, Критеріїв і Альтернатив.
              %h4#24 2.4. Розстановка пріоритетів
              %p Після побудови ієрархії учасники процесу використовують МАІ для визначення пріоритетів всіх вузлів структури. Інформація для розстановки пріоритетів збирається з усіх учасників і математично обробляється. У даному розділі наведено інформацію, на простому прикладі пояснює процес обчислення пріоритетів..
              %h4#25 2.5. Визначення пріоритетів і пояснення
              %p Пріоритети - це числа, які пов'язані з вузлами ієрархії. Вони являють собою відносні ваги елементів в кожній групі. Подібно ймовірностями, пріоритети - безрозмірні величини, які можуть приймати зна-чення від нуля до одиниці. Чим більше величина пріоритету, тим більш значущим є відповідний йому елемент. Сума пріоритетів елементів, підлеглих одному елементу вище лежачого рівня ієрархії, дорівнює одиниці. Пріоритет мети за визначенням дорівнює 1.0.Розглянемо простий приклад, що пояснює методику обчислення пріоритетів.
              %p Найпростіша ієрархічна структура МАІ з пріоритетами, визначеними за замовчуванням.
              %p На малюнку показана ієрархія, в якій пріоритети всіх елементів не встановлювалися ОПР. У такому випадку за замовчуванням пріоритети елементів вважаються однаковими, тобто всі чотири критерії мають рівну важливість з точки зору мети, а пріоритети всіх альтернатив рівні за всім критерія-ми. Іншими словами, альтернативи в цьому прикладі невиразні. Зауважимо, що сума пріоритетів елементів будь-якого рівня, дорівнює одиниці. Якби альтернатив було дві, то їх пріоритети були б рівні 0.500, якби критеріїв було 5, то пріоритет кожного був би рівний 0.200. У цьому простому прик-ладі пріоритети альтернатив за різними критеріями можуть не збігатися, що зазвичай і буває на практиці. Наведемо приклад, в якому локальні пріоритети альтернатив за різними критеріями не співпадають. Глобальні пріоритети альтернатив щодо мети обчислюються шляхом множення локального пріоритету кожної альтернативи на пріоритет кожного критерію і підсумовування по всіх критеріях.
              %p Більш складна ієрархічна структура, яка містить глобальні та локальні значення пріоритетів за замовчуванням.
              %p Якщо пріоритети критеріїв зміняться, то зміняться значення глобальних пріоритетів альтернатив, отже, може змінитися їх порядок. На малюнку показано рішення даного завдання зі зміненими значеннями пріоритетів критеріїв, при цьому найбільш кращою альтернативою стає A3.
              %h3#3 3. Практичне застосування МАІ
              %p МАІ може успішно використовуватися для вирішення простих задач, проте його ефективність прояв-ляється при пошуку вирішення складних проблем, що вимагають системного підходу і залучення великої кількості експертів.Завдання, для вирішення яких може бути застосований МАІ:
              %ul
                %li Проблема багатокритеріального вибору. Вибір однієї альтернативи з наявного набору альтернатив на основі деяких критеріїв.
                %li Ранжування. Багатокритеріальні упорядкування заданої множини альтернатив.
                %li Визначення пріоритетів альтернатив і критеріїв в задачах багатокритеріального вибору.
                %li Розподіл ресурсів. Розподіл ресурсів між альтернативами із заданої множини.
                %li Порівняльний аналіз. Розробка рекомендацій по оптимізації внутрішніх процесів організації на основі успішного досвіду конкурентів.
                %li Управління якістю. Аналіз різних аспектів якості та шляхи поліпшення якості.
              %p Можна привести безліч прикладів успішного застосування МАІ для вирішення складних проблем, зокрема, наступні:
              %ul
                %li Вироблення стратегії, спрямованої на зменшення негативного впливу глобальної зміни клімату (Fondazione Eni Enrico Mattei).
                %li Обчислення показника сукупного якості програмних комплексів (Microsoft Corporation).
                %li Вибір спеціалізації при навчанні в університеті (Bloomsburg University of Pennsylvania).
                %li Прийняття рішення про місцерозташування офшорних підприємств (University of Cambridge).
                %li Оцінка ризиків, пов'язаних з функціонуванням нафтових трубопроводів, що пролягають на території країни (American Society of Civil Engineers).
                %li Розробка стратегії найбільш ефективного управління вододілами США (US Department of Agriculture).
                %li Сфера освіти та наукових досліджень.
              %p Хоча для практичного застосування МАІ відсутня необхідність спеціальної підготовки, основи методу викладають у багатьох навчальних закладах. Крім того, цей метод широко застосовується у сфері управління якістю і читається в рамках багатьох спеціалізованих програм, таких як Six Sigma, Lean Six Sigma, і QFD. Близько ста китайських університетів пропонують курси з основ МАІ, і багато здобувачів наукових ступенів вибирають МАІ як об'єкт наукових і дисертаційних досліджень. Опубліковано більше 900 наукових статей з даної тематики. Існує китайський науковий журнал, що спеціалізується в області МАІ.Раз на два роки проводиться Міжнародний симпозіум, присвячений МАІ (International Symposium on Analytic Hierarchy Process, ISAHP), на якому зустрічаються як учені, так і практики, що працюють з МАІ. У 2007 році симпозіум проходив у Вальпараїсо, Чилі, де було представлено понад 90 доповідей вчених з 19 країн, включаючи США, Німеччину, Японію, Чилі, Малайзію, і Непал.
              %h3#4 4. Приклад використання МАІ при виборі автомобіля
              %h4#41 4.1. Постановка задачі та опис алгоритму
              %p Потрібно показати можливості програмного забезпечення, розробленого з метою дослідження та освоєння методу прийняття рішень, а саме методу аналізу ієрархій, для цього поставимо перед собою задачу: потрубно вибрати кращий автомобіль із чотирьох нам запропонованих, Volkswagen Caddy, Lexus LX, Skoda Oсtаvia та Ford Focus. Оцінювати перелічені автомобілі будемо за допомогою таких критерій: Стиль, Проходимість, Економність, Об’єм салону та швидкість.
              %p Алгоритм полягає в наступному: програма бере дані з форми вибору критерій і переходить до форми вибору альтернатив де відразу додає поле для однієї альтернативи зі всіма критеріями які були введені у попередній формі. Коли користувач заповнює всі поля і нажимає кнопку “Зберегти та продовжити >>” відбуваються наступні дії:
              %ul
                %li на основі попарних порівнянь проводиться обчислення приорітетів кожної з критерій;
                %li на основі попарних порівнянь проводиться обрахунок результату для кожної критерії окремо по оцінках кожної із альтернатив;
                %li виводяться результати обчислень по кожній із критерій;
                %li виводиться загальний результат який обчислюється шляхом перемноження значень кожної критерії відповідної альтернативи на приорітет критерії та сумування всіх значень в одну змінну хешу ключем якої є назва альтернативи;
              %p Отже, розглянемо цей простенький приклад застосування методу аналізу ієрархій для вибору кращого автомобіля з використанням мною зробленого програмного забезпечення. 
              %h4#42 4.2. Проведення МАІ з використанням ПЗ
              %p.text-center
                %i Перший етап: Вказання цілі
                %br
                %img{ src: '/img/1.jpg' }
                %br
                %i Рисунок 1. Форма вибору цілі
              %p В даній формі потрібно вказати ціль нашого дослідження, значення цієї форми несе в собі тільки інформативний характер.
              %p.text-center
                %i Другий етап: Вказання критерій для оцінки та ваги кожної з критерій
                %br
                %img{ src: '/img/2.jpg' }
                %br
                %i Рисунок 2. Форма вибору критерій
              %p В формі яка зображена на рисунку 2 потрібно вказати критерії та вагу кожної із вказаних критерій, критерій повинно бути якомога більше для кращого результату, але, і не треба перестаратись тому, що у наступному вікні нам потрібно буде оцінити кожну альтернативу по кожній із вказаних нами критерій, також краще не вказувати критерій які важко оцінити в тій чи іншій альтернативі.
              %p.text-center
                %i Третій етап: Вказання альтернатив
                %br
                %img{ src: '/img/3.jpg' }
                %br
                %i Рисунок 3. Форма вибору альтернатив
              %p У формі вибору альтернатив треба вказати альтернативи, у нашому випадку це автомобілі, та оцінити їх по кожній із критерій які ми обирали в попередньому діалоговому вікні. 
              %p.text-center
                %i Четвертий етап: Аналіз результатів
                %br
                %img{ src: '/img/4.jpg' }
                %br
                %i Рисунок 4. Результати по критерії Стиль.
                %br
                %img{ src: '/img/5.jpg' }
                %br
                %i Рисунок 5. Результати по критерії Проходимість.
                %br
                %img{ src: '/img/6.jpg' }
                %br
                %i Рисунок 6. Результати по критерії Економність.
                %br
                %img{ src: '/img/7.jpg' }
                %br
                %i Рисунок 7. Результати по критерії Об’єм салону.
                %br
                %img{ src: '/img/8.jpg' }
                %br
                %i Рисунок 8. Результати по критерії Швидкість.
                %br
                %img{ src: '/img/9.jpg' }
                %br
                %i Рисунок 9. Загальні результати.
              %p За загальними результатами на основі порівнянь таких критерій як: Cтиль, Проходимість, Економність, Об’єм салону та Швидкість перевагу отримав автомобіль Skoda Octavia він набрав оцінку 0.278
              %h3#5 Висновки
              %p У даній роботі розглянуто один з основних методів вирішення управлінськихзавдань: метод аналізу ієрархій на прикладі задачі вибору кращого автомобіля. З його допомогою вдалося визначити найкращий автомобіль з кінцевого числа альтернатив які ацінювлись за такими критеріями як: Cтиль, Проходимість, Економність, Об’єм салону та Швидкість.
              %p При вирішенні управлінських завдань за допомогою методу аналізу ієрархійможна самостійно проводити розрахунки або скористатися програмним додатком який було розроблено і представлено підчас виконання даної курсової роботи. Однак у кожному випадку необхідні експертні оцінки для складання вихідної матриці попарних порівнянь, на підставі якої потім відбувається розрахунок основних показників.
              %p Програмний додаток був виконаний на Ext JS 4.0.
              %p Ext JS — це JavaScript фреймфорк, що дозволяє створювати сучасні web-інтерфейси, які по своїх можливостях практично не поступаются інтерфейсам звичайних десктопних програм.
      .row
        .span12
          %p Олексин Віктор
    :javascript
      $(function(){
        $(window).resize(function(){
          $('.nav').width($('.span3').width()-30)
        });
        $(window).resize();
        $('ul.nav').affix();
      });