!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title#page-title Analytic Hierarchy Process
    %link{:href => "http://cdn.sencha.com/ext/gpl/4.2.0/resources/css/ext-all.css", :rel => "stylesheet"}/
    /%script{:src => "http://cdn.sencha.com/ext/gpl/4.2.0/ext-all-debug.js"}
    %script{:src => "http://cdn.sencha.com/ext/gpl/4.2.0/ext-all.js"}
    %script{:src => "/new/app.js", :type => "text/javascript"}
  %body