!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title#page-title Analytic Hierarchy Process
    %link{:href => "http://cdn.sencha.io/ext-4.0.7-gpl/resources/css/ext-all.css", :rel => "stylesheet"}/
    /%script{:src => "http://cdn.sencha.io/ext-4.0.7-gpl/ext-all-debug.js"}
    %script{:src => "http://cdn.sencha.io/ext-4.0.7-gpl/ext-all.js"}
    %script{:src => "/old/app.js", :type => "text/javascript"}
  %body